.nav {
  border-top: 1px solid gray;

  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;

  font-family: RFDewi;

  display:flex;
  align-items: center;
  justify-items: stretch;
  width:100%;
}

.menuCenter {
  display: flex;
  align-items: center;
  gap: 5px;
  margin:0 auto;

  li {

    text-transform: uppercase;
    height:63px;
    padding: 0 10px;
    display: inline;
    line-height: 63px;
    background-color:lightgray;
  }

}


